:root {
	--primary-color: #a54de0;
	--secondary-color: #f58216;
	--third-color: #32e259;
    --fourth-color: #f1ba86;
    --title-color: rgb(16, 36, 212);
	--common-padding: 10px;
	--text-color: #fff;
	--grid-gap: 10px;
	--button-border-bottom: 10px solid rgba(0,0,0, 0.3);
 }

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    font-family: 'Josefin Sans', sans-serif;
    font-style: oblique;
    margin-top: 150px;
  }

.navbar {
    background-color: var(--secondary-color);
    border-bottom: solid 10px rgba(0,0,0, 0.3);
}

h1 {
    justify-self: flex-end;
    align-self: center;
    color: var(--title-color);
}

footer {
    display: flex;
    justify-content: center;
    padding: var(--common-padding); 
    background-color: var(--third-color);
}   

ul {
    list-style: none;
}

.list-group-item {
    background-color: var(--third-color);
    max-width: 75%;
    align-self: center;
    margin: 1px;
    border: solid 2px var(--fourth-color);
}

.modal-content {
    background-color: var(--fourth-color);
}

.modal-header {
    background-color: var(--third-color);
}

.modal-body {
    text-align: center;
}

@media all and (min-width: 546px) and (max-width: 745px) {
    .body {
        margin-top: 222px;
    }
}

@media all and (min-width: 336px) and (max-width: 546px) {
    .body {
        margin-top: 265px;
    }
}

@media all and (min-width: 244px) and (max-width: 336px) {
    .body {
        margin-top: 310px;
    }
}
 
@media all and (max-width: 244px) {
    .body {
        margin-top: 320px;
    }
}
