:root {
	--primary-color: #a54de0;
	--secondary-color: #f58216;
	--third-color: #32e259;
    --fourth-color: #f1ba86;
    --title-color: rgb(16, 36, 212);
	--common-padding: 10px;
	--text-color: #fff;
	--grid-gap: 10px;
	--button-border-bottom: 10px solid rgba(0,0,0, 0.3);
 }

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    font-family: 'Bitter', serif;
    font-style: oblique;
    margin-top: 150px;
  }

.navbar {
    background-color: var(--secondary-color);
    border-bottom: solid 10px rgba(0,0,0, 0.3);
}

h1 {
    justify-self: flex-end;
    align-self: center;
    color: var(--title-color);
}

footer {
    display: flex;
    justify-content: center;
    padding: var(--common-padding); 
    background-color: var(--third-color);
}   

ul {
    list-style: none;
}

